.containerItens {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerResultados {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    margin: 20px 0px;
}

.resultados {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.resultados-itens {
    display: flex;
    flex-wrap: wrap;
}