/* src/pages/MatchPage.css */
.match-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.match-page main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.match-page h1 {
  font-size: 5em;
  color: #000;
  margin-bottom: 0; 
}

.match-page h2 {
  font-size: 3em;
  font-weight: lighter;
  color: #666;
  margin-top: 0px;
  margin-bottom: 130px;
}

header, footer {
  flex-shrink: 0;
}