.footer {
    background-color: #f8f8f8; /* Cor de fundo do footer */
    padding: 20px;
    border-top: 1px solid #ddd; /* Borda superior */
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .footer-content div {
    flex: 1;
    margin: 10px;
  }
  
  .footer-about,
  .footer-links,
  .footer-contact {
    max-width: 300px;
  }
  
  .footer-about h4,
  .footer-links h4,
  .footer-contact h4 {
    margin-bottom: 10px;
    color: #333; /* Cor do texto do título */
  }
  
  .footer-about p,
  .footer-contact p {
    margin: 5px 0;
    color: #555; /* Cor do texto dos parágrafos */
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links ul li {
    margin: 5px 0;
  }
  
  .footer-links ul li a {
    text-decoration: none;
    color: #333; /* Cor do texto dos links */
    font-weight: 500;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
  }
  
  .footer-bottom p {
    margin: 0;
    color: #555; /* Cor do texto do rodapé */
  }
  